<div class="container-fluid mt-5">
    <div class="container">

        <div class="row">
            <div class="col-9">
                <h1>{{title}}</h1>
            </div>
            <div class="col-3 text-end">
                <a href="/nuevo-producto" class="btn btn-dark">Nuevo Producto</a>
            </div>
        </div>
        <hr>

        <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#each productos}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="/productos/{{id}}">
                            <img class="card-img-top" src="/images/{{imagen}}" alt="{{nombre}}" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-1">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder cuerpo">{{nombre}}</h5>
                                    <!-- Product price-->
                                    <p>$ {{precio}}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-1">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productos/{{id}}">Detalles</a></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
{{!-- a --}}
                </div>
            </div>
    </div>
</div>